.Rhistory
output_*.txt
output_*
*.RData
*.RDataTmp*
.Ruserdata
.Rproj.user/
.Rapp.history
*.Rproj
.Rcheck/
00LOCK-*
*_cache/
*_files/
*.tmp
*.bak
output/
results/ 
rsconnect/
output_*
datasets/
documents/
calenviroscreen/
*.xlsx
*.pdf
.Rproj.user/